.main{
    width: 300px;
    height: 350px;
    border-radius: 12px;
    background-color: chartreuse;
}

.bottom{
    padding: 10px;
    background-color: violet;
    color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}